<form name="studentForm" noValidate autocomplete="off">
    <div class="container-fluid">
        <div class="col-sm-2">
            <div ui-view="classMgmtNav"></div>
        </div>
        <div class="col-sm-10 vert-nav-content-right">
            <div ui-view="teacherStudentRead"
                 ng-show="$state.includes('teacherRoot.teachercontent.student.read')"></div>
            <div ui-view="teacherStudentEdit"
                 ng-show="$state.includes('teacherRoot.teachercontent.student.edit')"></div>
            <div ui-view="teacherStudentCreate"
                 ng-show="$state.includes('teacherRoot.teachercontent.student.create')"></div>
        </div>
    </div>
</form>


